html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
.clear {
	clear:both;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(./images/bg.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#000;
}

.contact {
	background-image: none;
	background-color:#e9e9e9;
}

.wrapper {
	margin-bottom:100px;
	background-color:white;
}
h1  {
	font-size:42px;
	color:#1b4491;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#1b4491;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#1b4491;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:32px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#7b90b5;
}
em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(./images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(./images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}
img.portrait {
	background-repeat: no-repeat;
	width:140px;
	height:140px;
	padding-top:20px;
	padding-right:11px;
	margin-left:50px;
	float:left;
	
}
.selfentry ul {
	padding-top: 10px;
}
.selfentry ul li.ad {
	background-image:url(./images/icn-ad.gif);
}
.selfentry ul li.mail {
	background-image:url(./images/icn-mail.gif);
}
.selfentry ul li.tel {
	background-image:url(./images/icn-tel.gif);
}
.selfentry ul li.web {
	background-image:url(./images/icn-web.gif);
}
.selfentry ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}
.align{
	margin-top: 10px;
}


